@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    width: 100%;
    height: 800px;
    background-image: url('Assets/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero header{
    display: flex;
}

#hero header #logo{
    margin-left: 20%;
    position: absolute;
}

#hero header #lup{
    width: 20px;
    margin-left: 64%;
}

#hero header .sign a{
    color: #000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

#hero header .in{
    margin-top: 8px;
    margin-left: 20px;
}

#hero header button{
    width: 165px;
    height: 39px;
    background: #000;
    margin-left: 20px;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

#hero header button span{
    color: #808080;
    font-weight: 400;
}

#hero h1{
    color: #000;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}

#hero #sub{
    color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

#hero #dos{ 
    width: 165px;
    height: 39px;
    background: #000;
    margin-top: 20px;
    margin-left: 46%;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

#hero span{
    color: #808080;
    font-weight: 400;
}

#hero #cc{
    color: #000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-left: 12px;
    margin-top: 10px;
}

#hero #Snipt{
    width: 1080px;
    margin: auto;
    margin-top: 30.9px;
    display: block;
}

#content{
    width: 100%;
    height: 700px;
    background: #fff;
    padding: 30px;
}

#content h2{
    color: #000;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 11%;
    margin-left: 20.7%;
}

#content p{
    color: #000;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20.7%;
}

#content button{
    width: 165px;
    height: 39px;
    background: #000;
    margin-top: 15px;
    margin-left: 20.7%;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

#content button span{
    color: #808080;
    font-weight: 400;
}

#content img{
    width: 400px;
    margin-top: -12.7%;
    margin-left: 27%;
    position: absolute;
}

footer{
    width: 100%;
    margin-top: -3%;
    display: flex;
}

footer img{
    margin-top: -7px;
    margin-left: 20%;
}

footer #text-footer{
    margin-left: 38.2%;
    display: flex;
}

footer #text-footer a{
    color: #000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
}
