@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../Assets/Background.png');
    background-size: cover;
}

#left{
    width: 500px;
    height: 600px;
    background: #013243;
    margin-top: 7%;
    margin-left: 25%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#left h1{
    color: #fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
}

#left p{
    color: #86bfd3;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

#left img{
    width: 500px;
    margin: auto;
    margin-top: -30%;
    display: block;
}

#right{
    width: 460px;
    height: 600px;
    background: #fff;
    margin-top: -120%;
    margin-left: 100%;
    border-color: #bcbcbc;
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#right h2{
    color: #000;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 35px;
    margin-left: 80px;
}

#right label strong{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 4.2%;
    margin-top: 35px;
    position: absolute;
}

#right input{
    width: 300px;
    height: 70px;
    margin-top: 10%;
    margin-left: 16%;
    border-color: #bcbcbc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#right input[type=checkbox]{
    width: 20px;
    margin-top: 10px;
}

#right  p{
    color: #000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: -47px;
    margin-left: 22%;
}

#right a{
    color: #013243;
    font-weight: 700;
    text-decoration: underline;
}

#right button{
    width: 300px;
    height: 60px;
    background: #013243;
    margin-top: 30px;
    margin-left: 16%;
    border-color: transparent;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}